@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Helvetica Neue";
        src: url("./assets/fonts/helvetica-neue.otf") format("opentype");
    }

    body {
        @apply bg-white;
        font-family: "Helvetica Neue", sans-serif;
    }

    h1, .h1 {
        @apply text-[12vw] lg:text-[5.5rem] xl:text-[7rem] 2xl:text-[9vw] leading-[0.9];
    }

    p, .p {
        @apply text-[1.4rem] lg:text-[1.6rem] xl:text-[1.8rem] 2xl:text-[2vw] leading-[1.2];
    }

    article > p {
        @apply text-[1.2rem] lg:text-[1.4rem] xl:text-[1.6rem] 2xl:text-[1.6vw] leading-[1.2];
    }

    .padding {
        @apply p-4 md:p-4 lg:p-5 xl:p-5 2xl:p-[5vw]
    }

    .pixel {
        @apply bg-white z-0;
    }

    .pixel-grid {
        @apply bg-transparent transition-colors opacity-80 duration-500 z-10;
    }

    .pixel-menu {
        @apply bg-e-blue transition-colors opacity-100 duration-500 z-10;
    }

    .pixel-footer {
        @apply bg-white transition-colors opacity-100 duration-500 z-10;
    }
}